@charset "UTF-8";

@import "./vendor/normalize.css";
* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    font-family: "Bell MT";
    font-size: 20px;
    color: black;
    background-image: linear-gradient( to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.98)), url("../img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}

.content {
    margin: 0 10% 5% 10%;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .4em;
    background: rgba(255, 255, 255, 0.3);
}

.content, .faq-content {
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 0.2s;
    animation-name: fadein;
    animation-duration: 0.2s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

#mainpic {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 30px;
}

.sidebox {
    width: 25%;
    background: rgba(255, 255, 255, 0.4);
    margin: 0 3em 0 1em;
    border-radius: .4em;
    padding: 10px;
    display: block;
    float: left;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .4em;
}

.nav-item {
    padding: 5% 3%;
    display: block;
    text-align: center;
}

.nav-item a {
    cursor: pointer;
    line-break: auto;
}


.faq {
    text-align: center;
    padding: 20px 10px;
    margin: 0 25% 3% 30%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .4em;
    display: block;
}

.faq h1, h6 {
    opacity: 0.85;
    font-style: italic;
    margin: 0;
}

.faq p {
    word-wrap: break-word;
    padding: 20px;
    line-height: 1.6;
}

h4,
p {
    margin: 0;
    padding: 10px;
    word-wrap: break-word;
    font-weight: 500;
}


footer {
    width: 100%;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
    position: absolute;
    bottom: 5px;
    height: 1rem;
}

input[type="text"] {
    width: 50%;
    min-height: 30px;
}

input[type="submit"] {
    margin: 10px;
    height: 40px;
    font-family: "Bell MT";
}

.smallHeader {
    border: 2px solid #d3d3d3;
    border-radius: 3px;
    margin: 2px;
    background: rgba(255, 255, 255, 0.7);
    column-count: 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.smallHeader-item {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.answers {
    border: 2px solid #d3d3d3;
    border-radius: 3px;
    margin: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.7);
    padding: 0;
}

.row {
    width: 100%;
    column-count: 4;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row-item {
    text-align: left;
    word-wrap: break-word;
    display: inline-block;
    width: 50%;
}


  header {
      min-height: 70px;
      position: fixed;
      z-index: 5;
      height: 120px;
      width: 100%;
      text-align: left;
      background: linear-gradient( to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
      box-shadow: 0 0px 20px rgba(255, 255, 255, 1);
      overflow: hidden;
      font-size: 22px;
  }

  .container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
  }

  .logo {
      max-width: 60%;
      height: auto;
      padding-top: 15px;
      display: inline-block;
  }


  .navbar {
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: sticky;
      top: 50%;
      left: 50%;
      float: none;
      transform: translate(-50%, -50%);
      display: block;
  }

  .navbar a {
      padding: 0 5px;
      display: inline-block;
  }


  .justify-start {
      display: inline-block;
  }

  .current {
      font-weight: bolder;
  }

  main {
      padding-top: 140px;
      padding-bottom: 1rem;
  }

  .dropbtn {
    color: black;
    font-family: "Bell MT";
    font-weight: 500;
    border: none;
    cursor: pointer;
    background: none;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .dropdown {
      margin-top: 10px;
      min-width: 160px;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      text-align: center;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 3px;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      cursor: pointer;
      font-size: smaller;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

.material-icons {
    background-color: transparent;
    border: none;
}

.material-icons:hover {
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
}

.report {
    text-align: center;
    font-size: 16px;
}

button {
    border-radius: 3px;
    font-size: 16px;
    margin: 5px;
    border: 2px solid #d3d3d3;
}

input {
    border-radius: 3px;
    border: 2px solid #d3d3d3;
    font-size: medium;
}

h2, h3 {
    font-weight: 300;
}

.faq-content {
    margin-top: 20px;
    padding-bottom: calc(100vh - 600px);
}

.answer-container {
    margin: 0 5% 5% 5%;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .4em;
    background: rgba(255, 255, 255, 0.3);
}

blockquote {
    font-style: italic;
    font-size: 24px;
    margin: auto;
}

.section {
    margin: 3%;
    border: 2px solid #d3d3d3;
    border-radius: .4em;
    background: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 480px) {
    body {
      font-size: 0.5rem;
    }
    main {
        padding-top: 70px;
    }
    blockquote {
        font-size: 0.6rem;
    }
    .content, .faq-content {
        padding: 5px;
        margin: 10px;
    }
    .faq {
        margin: auto auto auto 30%;
    }
    .faq p {
        padding: 0.5em;
    }
    .container, header {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    #mainpic {
        width: 30%;
    }
    .sidebox, .answer-container, .smallHeader, .smallHeader-item {
        padding: 5px;
        align-items: center;
    }
    .smallHeader {
        display: flex;
        justify-content: space-evenly;
    }
    .dropbtn, .dropdown {
        min-width: 40px;
        display: flex;
        align-self: flex-end;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .dropdown-content {
        min-width: 30px;
        margin-top: 10px;
    }
    .navbar {
        transform: none;
        font-size: 12px;
        display: flex;
        flex-wrap: nowrap;
        top: 0;
        left: auto;
        padding-bottom: 10px;
    }
    .justify-start {
        text-align: center;
        height: 20%;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo {
        width: 20%;
        padding: 0;
    }
    .material-icons, .report {
        font-size: 8px;
    }
    input[type="text"] {
        min-height: 10px;
        max-height: 20px;
        width: 80%;
        font-size: 10px;
    }
    button[type="submit"] {
        font-size: 10px;
        padding: 0 4px;
    }
    button {
        font-size: 6px;
        padding: 0 2px;
    }
  }